*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family:Arial, Helvetica, sans-serif ;
}
body{
    background:black ;
}
.container .head{
   position: absolute; 
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 0px 30px;
   z-index: 100000;
}
.container .head a{
    color: white;
    text-decoration: none;
    background-color:red ;
    padding: 7px 18px;
    border-radius: 5px;
    
}
.background{
    width: 100;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background .perfect{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;

}
.background .box{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
}

.background .box .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.background .box .heading h2{
    font-size:  3.125rem;
    color: white;
    letter-spacing: 2px;
    width: 80%;
    
}
.background .box .heading h3{
    font-size: 1.625rem;
    color: white;
    font-weight: 400;
    padding: 1rem 0;
}
.background .box .heading p{
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    padding: 15px 0;
    
}
.background .box .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.background .box .search input{
    height:  60px;
    font-size: 16px;
    border: 1px solid;
    outline: none;
    color: white;
    border-radius: 2px;
    padding: 10px 10px 0 0;
    min-width: 400px;
    align-items: center;
    
}
.background .box .search a{
    padding: 0 30px;
    line-height: 60px;
    min-width: 310px;
    font-size: 1.625rem;
    color: white;
    background: red;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 2px;
    box-shadow: 0 1px 0 rgba(0, 0,0,0.45);
    
}
.part1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
 .part1 .info{
     width: 40%;
 }
 .part1 .info h1{
     font-size: 3.3rem;
     letter-spacing: 2px;
    padding-bottom: 10px;
    color: white;
 }
 .part1 .info p{
    font-size: 1.5rem;
   color: white;

 }


 .part1 .picture {
     width:45%;
 }
 .part1 .picture img{
     width: 100%;
 }